<head>
    <title>Casambi Demo - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </head>
  <body>
    <div class="container">
      <h1>Casambi login</h1>
      <ul>
        <li>Enter Username of account used in linking. (Amazon Account)</li>
        <li>Then enter the Username of the Network.</li>
        <li>And the Passowrd of the Newtork.</li>
      </ul>

      <br>
      <form action="" method="post">
        <label for="Username">Username(Amazon):</label><br>
        <input type="text" placeholder="Username" size="100" name="username" value="{{
          request.form.username }}"> <br><br> 
        <label for="Username_Network">Username_Network:</label><br>  
        <input type="text" placeholder="Username_Network" size="100" name="username_Network" value="{{
          request.form.username_Network }}"><br><br> 
        <label for="Password_Network">Password_Network:</label><br>  
         <input type="text" placeholder="Password_Network" size="100" name="password_Network" value="{{
          request.form.password_Network}}"><br><br> 
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>